.mtInfo {
  /* margin-top: 0.87em; */
  margin-top: 1.62em;
}

.mtInfo2 {
  /* margin-top: 0.87em; */
  margin-top: 1.2em;
}

.boutonSave {
  background-color: #6978fc;
}

.sauvegarderbouton {
  padding-left: 62%;
}

.firstBorder {
  margin-left: 20%;
}

.job {
  margin-left: 40%;
}

.otherBorder {
  margin-left: 20%;
}

.otherBorder .signature {
  margin-top: -60%;
}

@media only screen and (max-width: 768px) {
  .title-seysey {
    font-size: 20px !important;
  }
  .stylish-cab {
    display: inline-block;
    min-width: 100%;
  }
  .size-think {
    width: 60%;
    height: 20vh;
    font-size: 55%;
  }
  .enlarge {
    width: 100%;
  }
}

.inputleft {
  padding: 1.6%;
  margin-top: 8.8%;
}

.div_inputleft {
  padding-top: 2.2%;
}

.input-file {
  border: none;
}

.icone pointer {
  border: none;
}

.button_border {
  border: none;
  background-color: transparent;
}
