@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.searcharigo {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #6978fc;
  padding: 5px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #6978fc;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #6978fc;
  background: #6978fc;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wraparigo {
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boutoncouleur {
  background-color: #6978fc;
}

/* .moveSave {
  padding-left: 9em;
} */
@media only screen and (max-width: 768px){
  .moveSave {
    padding-right: -155%;
  }
}

