.autreInput {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 50px;
}

.autreInput2 {
  border: 1px solid #999;
  width: 40px;
}

.borderOptions {
  border: 1px solid black;
}

.autreInput3 {
  border: 1px solid #999;
  text-align: right;
  width: 90px;
}
