.mtInfo {
  /* margin-top: 0.87em; */
  margin-top: 2.14em;
}

.mtInfo2 {
  /* margin-top: 0.87em; */
  margin-top: 1em;
}

/* .inputleft {
  padding: 1%;
} */

.div_inputleft {
  padding-top: 2.5%;
}

.input-file {
  border: none;
}
